@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');

:root {
  --vh: 100%;
  --hh: 80px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, sans-serif;
  height: calc(100vh - var(--hh));
}

#__next {
  min-height: 100%;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

input,
button {
  font-family: Pretendard, sans-serif !important;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

main {
  max-width: 1020px;
  margin: 0 auto;
  padding: 3rem 1rem 8rem;
  margin-top: var(--hh) !important;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

#map {
  width: 100%;
  height: 500px;
}

#date-picker .MuiFormControl-root label,
#date-picker .MuiFormControl-root input {
  color: #000 !important;
  -webkit-text-fill-color: #000;
}

.heart_icon {
  color: red;
  font-size: 1.2rem;
}

.cnt {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: 6px;
}

.emptyText {
  text-align: center;
  color: gray;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiChip-root {
  font-size: 0.8rem;
}
.filterChip {
  font-size: 0.9rem;
}

@media screen and (max-width: 920px) {
  html {
    font-size: 13px;
  }
  #map {
    height: 400px;
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 12px;
  }
  :root {
    --hh: 60px;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 11px;
  }
  #map {
    height: 200px;
  }
}
