@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');

:root {
  --vh: 100%;
  --hh: 80px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

input,
button {
  font-family: Pretendard, sans-serif !important;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

main {
  max-width: 1020px;
  margin: 3rem auto;
  padding: 0 1rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

#map {
  width: 100%;
  height: 500px;
}

#date-picker .MuiFormControl-root label,
#date-picker .MuiFormControl-root input {
  color: #000 !important;
  -webkit-text-fill-color: #000;
}

.heart_icon {
  color: red;
  font-size: 1.2rem;
}

.cnt {
  display: flex;
  align-items: center;
  gap: 2px;
}
