@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');

:root {
  --vh: 100%;
  --hh: 80px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
button {
  font-family: Pretendard, sans-serif !important;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
