.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  gap: 2rem;
}

.main h2 {
  font-weight: normal;
  text-align: center;
  margin-top: 5px;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.contentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.main img {
  width: 100%;
  border-radius: 5px;
}

.price {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.1rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.05rem;
  width: 100%;
}

.contentStart {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 1.05rem;
  width: 100%;
}

.contentStart svg {
  margin-top: 3px;
}

.name {
  text-transform: capitalize;
}

.grow {
  flex-grow: 1;
}

.bidTable {
  width: 100%;
}

.likeCnt {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.heartIcon {
  color: red;
  font-size: 1.2rem;
}
